@import url('https://fonts.googleapis.com/css?family=Black+Ops+One');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

body{
    background-color: #8C8CB4;
    font-family: 'Droid Serif', serif;
}

.Header{
    text-align:center;
    border: 1px solid black;
    background-color: #ACACDC;
    font-family: 'Black Ops One', cursive;
}

.infoBox{
 text-align: center;
 width:60%;
 margin:auto;
}

.util{
    text-align: center;
    border: 1px solid #222;
    width:auto;
    background-color: #ACACDC;
}